<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anochat_api.mapper.ChatMapper">
	<insert id="registChat">
		INSERT INTO
			trn_chat_message
		(
			chat_id,
			msg_content,
			send_time
		)
		VALUES
		(
			#{chatId},
			#{message},
			current_timestamp
		)
	</insert>
</mapper>