<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anochat_api.mapper.ChatMapper">
	<insert id="registChat" parameterType="java.lang.String">
		INSERT INTO
			trn_chat_record
		(
			chat_content,
			create_date
		)
		VALUES
		(
			#{message},
			current_timestamp
		)
	</insert>
</mapper>